# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env.local
.env.*.local

# build outputs
dist/
build/

# logs
logs/
*.log
npm-debug.log*

# misc
.DS_Store
*.pem
.vscode/
.idea/

# coverage
coverage/

scripts/
tests/
.agents

docs/